<html>

<head></head>

<body>
    <h1>Sign up!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}"><b>{{message}}</b></div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <input type="text" name="username" placeholder="Username" autofocus="">
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('login') }}">Log In</a>
</body>

</html>